<!doctype html>
<html lang="en">
  <head>
    {% include 'headCode.html' %}
    <title>Admin Panel</title>
  </head>
  <body>
    {% include "user_header.html" %}
    <br><h1 class="container">Admin Panel</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Reported Events</h3>
                {% for event in events %}

                 <div class="card adminRow" style="width: 15rem;">
                    <div class="card-body">
                      <img src="/static/img/{{ event.relativePath }}" alt="Location of Image" class="card-img-top">
                      <h5 class="card-title"><a href="{{ url_for('get_event', event_id=event.eventID) }}">{{ event.name }}</a></h5>
                      <p class="card-text">{{event.description}}</p>
                        <a href="{{ url_for('report_delete_event', event_id=event.eventID) }}">
                            <button class="btn btn-danger btn-sm">Delete Event</button>
                        </a>
                        <a href="{{ url_for('report_dismiss_event', event_id=event.eventID) }}">
                            <button class="btn btn-primary btn-sm">Dismiss Event</button>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-md-5">
                <h3>Reported Reviews</h3>
                <ul class="list-group comment-section">
                    {% for review in reviews %}
                    <li class="list-group-item">
                        <small class="text-muted"> Posted under event review
                            <a href="{{ url_for('get_event', event_id=review.event.eventID) }}">{{ review.event.name }}</a>
                        </small><br>
                        <p>{{ review.content }}</p>
                        <div>
                            <a href="{{ url_for('report_delete_review', review_id=review.reviewID) }}"><button class="btn btn-danger">Delete Review</button></a>
                            <a href="{{ url_for('report_dismiss_review', review_id=review.reviewID) }}"><button class="btn btn-primary">Dismiss Review</button></a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>


        </div>
    </div>





  </body>
</html>
