<!doctype html>
<html lang="en">
  <head>
    {% include 'headCode.html' %}
    <title>Create Event</title>
  </head>

  <body>

    {% include 'user_header.html' %} <br>
    

    <h1 class="title">Create Event</h1>


    <!-- Create new event -->

    <form method="POST" action="/events/create">


	<div class="form-field thumbnail">
		{{ form.image.label }} {{ form.image }}
		{% if form.image.errors %}
		<ul class="errors">
			{% for error in form.image.errors %}
			<li>{{ error }}</li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>
        <div class="createEvent">
          <div class="form-field">{{ form.eventName.label }} {{ form.eventName }}
            {% if form.eventName.errors %}
            <ul class="errors">
                {% for error in form.eventName.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="form-field">{{ form.dateStart.label }} {{ form.dateStart }}
            {% if form.dateStart.errors %}
            <ul class="errors">
                {% for error in form.dateStart.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="form-field">{{ form.dateEnd.label }} {{ form.dateEnd }}
            {% if form.dateEnd.errors %}
            <ul class="errors">
                {% for error in form.dateEnd.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="form-field">{{ form.description.label }} {{ form.description }}
            {% if form.description.errors %}
            <ul class="errors">
                {% for error in form.description.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="form-field">{{ form.location.label }} {{ form.location }}
            {% if form.location.errors %}
            <ul class="errors">
                {% for error in form.location.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="form-field">{{ form.capacity.label }} {{ form.capacity }}
            {% if form.capacity.errors %}
            <ul class="errors">
                {% for error in form.capacity.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        {% if event %}
            <input type="submit" value="Update Event"/>
        {% else %}
            <input type="submit" value="Submit"/>
        {% endif %}
        </div>

    </form>





  </body>
</html>
