<!doctype html>
<html lang="en">
  <head>
    {% include 'headCode.html' %}
    <title>Events</title>
  </head>
  <body>
    {% include "user_header.html" %}
    <h1 id="topTitle">Events</h1>

      <div id="EventInfo">
	<h2>{{ event.name }}</h2>
	<h4>{{ event.description }}</h4>
        <p>Event Start: {{ event.dateStart.date().year }}-{{ event.dateStart.date().month }}-{{ event.dateStart.date().day }} {{event.dateStart.time().hour}}:{{event.dateStart.time().minute}}</p>
	<p>Event End: {{ event.dateEnd.date().year }}-{{ event.dateEnd.date().month }}-{{ event.dateEnd.date().day }} {{event.dateEnd.time().hour}}:{{event.dateEnd.time().minute}}</p>
	<p>Address: {{ event.location }}</p>
	<p>Remaining Spots: {{ event.capacity }}</p>
        <img src="{{ event.relativePath }}" alt="Location of Image">

      </div>
    <br>
    {% if reserved %}
	<a href="{{ url_for('reserve_event', event_id=event.eventID) }}"><button id="RSVPButton" class="btn btn-danger">Cancel My Reservation</button></a>
    {% else %}
	<a href="{{ url_for('reserve_event', event_id=event.eventID) }}"><button id="RSVPButton" class="btn btn-success">Reserve my Spot!</button></a>
    {% endif %}

  </body>
</html>
