<!doctype html>
<html lang="en">
  <head>
    {% include 'headCode.html' %}
    <title>Event</title>
  </head>
  <body>
    {% include "user_header.html" %}
    <h1 class="title">Event</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <div id="EventInfo">
                    <h2>{{ event.name }}</h2>
                    <h4>{{ event.description }}</h4>
                        <p>Event Start: {{ event.dateStart.date().year }}-{{ event.dateStart.date().month }}-{{ event.dateStart.date().day }} {{event.dateStart.time().hour}}:{{event.dateStart.time().minute}}</p>
                    <p>Event End: {{ event.dateEnd.date().year }}-{{ event.dateEnd.date().month }}-{{ event.dateEnd.date().day }} {{event.dateEnd.time().hour}}:{{event.dateEnd.time().minute}}</p>
                    <p>Address: {{ event.location }}</p>
                    <p>Remaining Spots: {{ event.capacity }}</p>
                        <img src="/static/img/{{ event.relativePath }}" alt="Location of Image" class="thumbnailPic"><br><br>

                </div>

                {% if reserved %}
                <a href="{{ url_for('reserve_event', event_id=event.eventID) }}"><button id="RSVPButton" class="btn btn-danger">Cancel My Reservation</button></a>
                {% else %}
                <a href="{{ url_for('reserve_event', event_id=event.eventID) }}"><button id="RSVPButton1" class="btn btn-success">Reserve my Spot!</button></a>
                {% endif %}
		<a href="{{ url_for('report_event', event_id=event.eventID) }}"><button class="btn btn-danger">Report Event</button></a>
            </div>

            <div class="col">
                {% if event.reviews %}
                    {% if event.reviews|length > 0 %}
                        <h2>Reviews</h2>
                        <ul>
                        {% for review in event.reviews %}
			    <li>{{ review.content }} <a href="{{ url_for('report_review', review_id=review.reviewID) }}"><button class="btn btn-danger btn-sm">Report</button></a></li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endif %}
                <form action="{{ url_for('new_review', event_id=event.eventID) }}" method="post">
                    <div class="formwrapper">
                        <h2 class="title">Add a review</h2>
                        <div class="form-field title">
                            {{ form.review.label }} <p class="reviewArea">{{ form.review }}</p>
                        </div>
                        <div class="title">
                            {{ form.submit }}
                        </div>

                    </div>
                </form>
            </div>

        </div>

    </div>


  </body>
</html>
