<!doctype html>
<html lang="en">
  <head>
    {% include 'headCode.html' %}
    <title>RSVPme Home</title>
  </head>
  <body>
    <div class="topnav">
      <a class="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('get_user_events') }}">My Events</a>
      <a href="{{ url_for('get_events') }}">Public Events</a>
      <a href="user.html">My Profile</a>
      <div class="topnav-right">
        {% if user %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
        {% endif %}
      </div>
    </div>



  </body>
</html>
