<!doctype html>
<html lang="en">
  <head>
    {% include 'headCode.html' %}
    <title>Login</title>
  </head>
  <body>

  <div class="topnav">
      {% if user %}
      <div class="topnav-right" id="loggedInAction">
          <a href="{{ url_for("logout") }}">Click to logout</a>
      </div>
      {% else %}
      <div class="topnav-right" id="loggedOutAction">
          <a href="{{ url_for("login") }}">Sign In</a>
          <a href="{{ url_for("register") }}">Register</a>
      </div>
      {% endif %}
  </div>

  <div class="p-3 mb-2 text-white head">
    <h1>Welcome to RSVPMe! Sign in below:</h1>
  </div>

  <div class="signIn">
      <form method="POST" action="/login">
          <div class="form-field">{{ form.email.label }} {{ form.email }}
              {% if form.email.errors %}
              <ul class="errors">
                  {% for error in form.email.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
              </ul>
              {% endif %}
          </div>

          <div class="form-field">{{ form.password.label }} {{ form.password }}
              {% if form.password.errors %}
              <ul class="errors">
                  {% for error in form.password.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
              </ul>
              {% endif %}
          </div>
          {{ form.submit }}
      </form>
  </div>
  </body>
</html>
