<!doctype html>
<html lang="en">
  <head>
    {% include 'headCode.html' %}
    <title>My Events</title>
  </head>
  <body>
    {% include "user_header.html" %}
    <h1 class="titleCenter">My Events</h1>
    <form action="{{ url_for('create_event') }}" method="post">
    <center><button class="homeButtons">Create Event</button></center>
    </form>

    {% if events %}
    <div class="myEventRow">

    <div class="container">
      {% for event in events %}
        <div class="card eventRow" style="width: 16rem">
            <div class="card-body">
              <img src="/static/img/{{ event.relativePath }}" alt="Location of Image" class="card-img-top">
              <h5 class="card-title"><a href="{{ url_for('get_event', event_id=event.eventID) }}">{{ event.name }}</a></h5>
              <p class="card-text">{{event.description}}</p>
              <a href="{{ url_for('modify_event', event_id=event.eventID) }}">
                <button class="btn btn-primary">Edit</button>
              </a>
              <a href="{{ url_for('delete_event', event_id=event.eventID) }}">
                <button class="btn btn-danger">Delete</button>
              </a>
            </div>
          </div>

      {% endfor %}
        </div>
    </div>

    {% else %}
    <div class="myEventRow1">
	  <div class="card eventRow" style="width: 14rem;">
		  <div class="card-body">
			  <img src="/static/img/emptySection.png" alt="No Events Created!" class="card-img-top">
			  <h5 class="card-title" style="text-align:center;">You have not created any active events!</h5>
		  </div>
	  </div>
    </div>
    {% endif %}

    <br><br>


    <h1 class="titleCenter">Joined Events</h1>
    {% if jEvents %}

    <div class="myEventRow">
        <div class="container">
        {% for jEvent in jEvents %}
        <div class="card eventRow" style="width: 16em;">
          <div class="card-body">
            <img src="/static/img/{{ jEvent.relativePath }}" alt="Location of Image" class="card-img-top">
            <h5 class="card-title"><a href="{{ url_for('get_event', event_id=jEvent.eventID) }}">{{ jEvent.name }}</a></h5>
              <p class="card-text">{{jEvent.description}}</p>
          </div>

        </div>
        {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="myEventRow1">
	  <div class="card eventRow" style="width: 14rem;">
		  <div class="card-body">
			  <img src="/static/img/emptySection.png" alt="No Events Created!" class="card-img-top">
			  <h5 class="card-title" style="text-align:center;">You have not joined any active events!</h5>
		  </div>
	  </div>
    </div>
    {% endif %}

  </body>
</html>
