<style>
	.navLinks a {
		padding-left: 2em;
		padding-right: 2em;
		margin-top: 1em;
		margin-bottom: 0.33em;
		background-color: #174d21;
		color: white;
		border: none;
	}

	.navBar {
	    background-color:#174d21;
	    display: flex
	}

	.navLinks {
	    margin-left: auto;
	    display: flex;
	    flex-direction: column;
	    align-items: flex-end;
	    margin-right: 0.5em

	}

	.navLinks a:hover {
	    background-color:#be9a30;
	}

	.navBar img {
	  width:8%;
	  height: auto;
	  margin-left: 1em;
	  float: left;
	}

    .fontStyle {
      font-size: 18px;
    }


</style>
<div class="navBar">
  <img src="../static/logo.png" alt="RSVME Logo">
  <div class="navLinks">
    {% if user %}
    <a href="{{ url_for('logout') }}" class="btn btn-light btn-sm fontStyle" style="margin-top: 0.5em">Logout</a>
    {% else %}
    <div style="margin-top: 0.5em">
      <a href="{{ url_for('login') }}" class="btn btn-light btn-sm fontStyle" >Login</a>
      <a href="{{ url_for('register') }}" class="btn btn-light btn-sm fontStyle" >Register</a>
    </div>

    {% endif %}
    <div>
    <a href="{{ url_for('home') }}" class="btn btn-light nav-btn fontStyle">Home Page</a>
    <a href="{{ url_for('get_user_events') }}" class="btn btn-light nav-btn fontStyle">My Events</a>
    <a href="{{ url_for('get_events') }}" class="btn btn-light nav-btn fontStyle">Public Events</a>
    <a href="{{ url_for('get_user_profile') }}" class="btn btn-light nav-btn fontStyle">My Profile</a>
    {% if admin %}
    <a href="{{ url_for('access_admin_panel') }}" class="btn btn-light nav-btn fontStyle">Admin Panel</a>
    {% endif %}
    </div>
  </div>
</div>
