<!doctype html>
<html lang="en">
  <head>
    {% include 'headCode.html' %}
    <title>User</title>
  </head>

  <body>
  {% include "user_header.html" %}
  <br><h1 class="username">My Profile</h1>

  <div class="userProfile">
	  <p class="username1">Username</p>
	  <input class="userInfo" type="text" disabled value="{{ user }}"/>
  </div>
  <br>

  <div class="userProfile">
	  <p class="username">Email</p>
	  <input class="userInfo" type="text" disabled value="{{ email }}"/>
  </div>

  <a href="{{ url_for('change_pass') }}"><button class="homeButtons password">Change Password</button></a>

  <h3 class="titleCenter">Active Created Events:</h3>

  {% if usersEvents %}
  <div class="myEventRow">
	  <div class="container">
	  {% for event in usersEvents %}
	  <div class="card eventRow eighteen">
		  <div class="card-body">
			  <img src="/static/img/{{ event.relativePath }}" alt="Location of Image" class="card-img-top">
			  <h5 class="card-title"><a href="{{ url_for('get_event', event_id=event.eventID) }}">{{ event.name }}</a></h5>
			  <p class="card-text">{{ event.description }}</p>
			  <a href="{{ url_for('modify_event', event_id=event.eventID) }}">
				  <button class="btn btn-primary">Edit</button>
			  </a>
			  <a href="{{ url_for('delete_event', event_id=event.eventID) }}">
				  <button class="btn btn-danger">Delete</button>
			  </a>
		  </div>
	  </div>
	  {% endfor %}
	  </div>
  </div>
  {% else %}
  <div class="myEventRow1">
	  <div class="card eventRow fifteen">
		  <div class="card-body">
			  <img src="/static/img/emptySection.png" alt="No Events Created!" class="card-img-top">
			  <center><h5 class="card-title">You have not created any active events!</h5></center>
		  </div>
	  </div>
  </div>
  {% endif %}


  <h4 class="titleCenter">Total amount of events created: {{ userStats.totalEventsCreated }}</h4>

  <h3 class="titleCenter">Active Joined Events:</h3>

  {% if userJoinedEvents %}
  <div class="myEventRow">
	  <div class="container">
	  {% for event in userJoinedEvents %}
	  <div class="card eventRow eighteen">
		  <div class="card-body">
			  <img src="/static/img/{{ event.relativePath }}" alt="Location of Image" class="card-img-top">
			  <h5 class="card-title"><a href="{{ url_for('get_event', event_id=event.eventID) }}">{{ event.name }}</a></h5>
			  <p class="card-text">{{ event.description }}</p>
		  </div>
	  </div>
	  {% endfor %}
	  </div>
  </div>
  {% else %}
  <div class="myEventRow1">
	  <div class="card eventRow fifteen">
		  <div class="card-body">
			  <img src="/static/img/emptySection.png" alt="No Events Created!" class="card-img-top">
			  <center><h5 class="card-title">You have not joined any active events!</h5></center>
		  </div>
	  </div>
  </div>
  {% endif %}


  <h4 class="titleCenter">Total amount of events joined: {{ userStats.totalEventsJoined }}</h4>

  <h3 class="titleCenter">Event Reviews Created:</h3>

  {% if userReviews %}
  <div class="myEventRow">
	  <div class="container">
	  {% for review in userReviews %}

	  <div class="card eventRow eighteen">
		  <div class="card-body">
			  <img src="/static/img/{{ review.event.relativePath }}" alt="Event reviewed" class="card-img-top">
			  <a href="{{ url_for('get_event', event_id=review.event.eventID) }}">{{ review.event.name }}</a>
			  <p class="card-text">Review: {{ review.content }}</p>
			  <p class="card-text">Posted on: {{ review.date_posted }}</p>
		  </div>
	  </div>

	  {% endfor %}
	  </div>
  </div>
  {% else %}
  <div class="myEventRow1">
	  <div class="card eventRow fifteen">
		  <div class="card-body">
			  <img src="/static/img/emptySection.png" alt="No Events Created!" class="card-img-top">
			  <center><h5 class="card-title">You have not reviewed any events!</h5></center>
		  </div>
	  </div>
  </div>
  {% endif %}

  <h4 class="titleCenter">Total amount of event reviews created: {{ userStats.totalEventReviews }}</h4>

  </body>
</html>
