<link rel="stylesheet" href="{{ url_for('static', filename='headerStyle.css') }}">
<div class="navBar">
  <img src="../static/logo.png" alt="RSVME Logo">
  <div class="navLinks">
    {% if user %}
    <p>
      <span class="nav-item userLogo"><i class="fas fa-user"></i> {{ session['user'] }}</span>
      <a href="{{ url_for('logout') }}" class="btn btn-light btn-sm fontStyle">Logout</a>
    </p>
    {% else %}
    <div style="margin-top: 0.5em">
      <a href="{{ url_for('login') }}" class="btn btn-light btn-sm fontStyle" >Login</a>
      <a href="{{ url_for('register') }}" class="btn btn-light btn-sm fontStyle" >Register</a>
    </div>

    {% endif %}

  </div>
</div>
