<!doctype html>
<html lang="en">
  <head>
    {% include 'headCode.html' %}
    <title>Verify Login</title>
  </head>
  <body>
    {% include 'user_header.html' %} <br>
  <div class="p-3 mb-2 text-white head">
    <h1>Please verify your account to view the event selected.</h1>
  </div>

  <div class="signIn">
      <form method="POST" action="/verify">
          <div class="form-field">{{ form.email.label }} {{ form.email }}
              {% if form.email.errors %}
              <ul class="errors">
                  {% for error in form.email.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
              </ul>
              {% endif %}
          </div>

          <div class="form-field">{{ form.password.label }} {{ form.password }}
              {% if form.password.errors %}
              <ul class="errors">
                  {% for error in form.password.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
              </ul>
              {% endif %}
          </div>
          {{ form.submit }}
        </form>
      <br><br>

  </div>
  <div class="signIn2">
      <p>
          <a href="{{ url_for('get_events') }}">
              <button class="btn btn-danger">Cancel</button>
          </a>
      </p>
  </div>
  </body>
</html>
