.title {
  margin-left:30px;

}
.titleCenter {
  margin: 20px;
  display: flex;
  justify-content: center;

}
.eventsCenter {
  margin: 75px;
  /*display: flex;
  justify-content: center;*/

}

.eventRow {
    float: left;
    margin: 20px;
}

.myEventRow {
    display: flex;
    justify-content: center;
    margin: auto;

}

.learnMore {
    text-decoration:none;
    width: 100%;
    color: white;
    padding: 10px 16px;
    margin: 6px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #be9a30;
}

.learnMore:hover{
    background-color: #ffdc74;
    color: white;
}


.signIn{
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  margin: auto;
}


.head {
  background-color: #174d21;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 50%;
}

input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #174d21;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #be9a30;
}

.createEvent {
  width: 50%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  float: right;
  margin-right:20px;
}

.thumbnail {

 width: 40%;
 height: auto;
 border-radius: 5px;
 background-color: #f2f2f2;
 padding: 20px;
 float: left;
 margin-left:20px;

}
