.title {
  margin-left:30px;

}
.titleCenter {
  margin: 20px;
  display: flex;
  justify-content: center;

}
.eventsCenter {
  margin: 75px;
  /*display: flex;
  justify-content: center;*/

}

.eventRow {
    float: left;
    margin: 20px;
}

.adminRow {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}


.myEventRow {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 120px;


}

.myEventRow1 {
    display: flex;
    justify-content: center;
    margin:auto;


}

.container{
    justify-content: center;

}

.FeaturedRow {

    float: left;
    margin: 20px;

}

.card1 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 6px solid #E9E07E;
    border-radius: .25rem;
}

.ButtonRow
{
    float: left;
    margin: 20px;
}

.learnMore {
    text-decoration:none;
    width: 100%;
    color: white;
    padding: 10px 16px;
    margin: 6px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #be9a30;
}

.learnMore:hover{
    background-color: #ffdc74;
    color: white;
}


.signIn{
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  margin: auto;
}

.signIn2{
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  margin: auto;
}


.head {
  background-color: #174d21;
  display: flex;
  justify-content: center;
  text-align:center;
  margin: auto;
  width: 50%;
}

input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #174d21;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #be9a30;
}

.createEvent {
  width: 50%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  float: right;
  margin-right:20px;
}

.thumbnail {

 width: 40%;
 height: auto;
 border-radius: 5px;
 background-color: #f2f2f2;
 float: left;
 padding: 10px;
 margin-left: 20px;
}

.thumbnailPic {

 width: 40%;
 height: auto;
 border-radius: 5px;
 background-color: #be9a30;
 padding: 10px;

}

.card-img-top {
 height: 145px;
}

.card-img-bottom {
 height: 50px;
}

textarea {
 width: 100%;
}

.homeButtons {
  background-color: #174d21;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.homeButtons:hover {
  background-color: #be9a30;
}

.fifteen {
  width: 15rem;
}

.eighteen {
  width: 18rem;
}

.pageButton {
 margin-right: 0.5em;
}

.userInfo {
 width: auto;
}

.userProfile {
 display: flex;
 margin-left: 3em;

}

.username1 {
  margin-right: 2em;
  margin-left: 1em;
  align-self: center;
}

.username {
  margin-right: 4em;
  margin-left: 1em;
  align-self: center;
}

.password {
  margin-left: 3em;
  margin-top: 1em;
}
#eventBody {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.sortingFeatures {
  height: 30%;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 2em;
  border-color: gray;
  padding: 1em;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
}

#eventListing {
  margin-left: 3em;
}

#pages {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

#eventsMessage {
  margin-left: 1em;
}


